<?xml version="1.0" encoding="UTF-8"?>
<system>
    <memory_region name="serial_mmio" size="0x1_000" phys_addr="{serial_mmio_phys_addr}" />
    <memory_region name="serial_tx_driver_queue" size="0x1_000" />
    <memory_region name="serial_tx_driver_data" size="0x1_000" />
    <memory_region name="serial_rx_driver_queue" size="0x1_000" />
    <memory_region name="serial_rx_driver_data" size="0x1_000" />
    <memory_region name="serial_tx_client_queue" size="0x1_000" />
    <memory_region name="serial_tx_client_data" size="0x1_000" />
    <memory_region name="serial_rx_client_queue" size="0x1_000" />
    <memory_region name="serial_rx_client_data" size="0x1_000" />

    <memory_region name="virtio_mmio" size="0x1_000" phys_addr="{virtio_mmio_phys_addr}" />
    <memory_region name="virtio_blk_driver_dma" size="0x200_000" page_size="0x200_000" />

    <memory_region name="blk_storage_info" size="0x1_000" />
    <memory_region name="blk_driver_req_queue" size="0x1_000" />
    <memory_region name="blk_driver_resp_queue" size="0x1_000" />
    <memory_region name="blk_client_req_queue" size="0x1_000" />
    <memory_region name="blk_client_resp_queue" size="0x1_000" />
    <memory_region name="blk_data" size="0x10_000" />

    <memory_region name="fs_command_queue" size="0x8_000" />
    <memory_region name="fs_completion_queue" size="0x8_000" />
    <memory_region name="fs_share" size="0x8_000" />

    <protection_domain name="blk_driver" priority="4" stack_size="0x10_000">
        <program_image path="sddf-blk-driver.elf" />
        <map mr="virtio_mmio" vaddr="0x6_000_000_000" perms="rw" cached="false" setvar_vaddr="virtio_blk_mmio_vaddr" />
        <map mr="virtio_blk_driver_dma" vaddr="0x8_000_000_000" perms="rw" cached="true" setvar_vaddr="virtio_blk_driver_dma_vaddr" />
        <setvar symbol="virtio_blk_driver_dma_paddr" region_paddr="virtio_blk_driver_dma" />
        <map mr="blk_storage_info" vaddr="0x4_000_000" perms="rw" cached="true" />
        <map mr="blk_driver_req_queue" vaddr="0x4_001_000" perms="rw" cached="true" />
        <map mr="blk_driver_resp_queue" vaddr="0x4_002_000" perms="rw" cached="true" />
        <map mr="blk_data" vaddr="0x4_010_000" perms="rw" cached="true" />
        <irq irq="{virtio_blk_irq}" id="0" />
    </protection_domain>

    <protection_domain name="serial_driver" priority="4" stack_size="0x10_000">
        <program_image path="sddf-serial-driver.elf" />
        <map mr="serial_mmio" vaddr="0x2_000_000" perms="rw" setvar_vaddr="serial_register_block" />
        <map mr="serial_tx_driver_queue" vaddr="0x3_000_000" perms="rw" cached="true" />
        <map mr="serial_tx_driver_data" vaddr="0x3_001_000" perms="rw" cached="true" />
        <map mr="serial_rx_driver_queue" vaddr="0x3_002_000" perms="rw" cached="true" />
        <map mr="serial_rx_driver_data" vaddr="0x3_003_000" perms="rw" cached="true" />
        <irq irq="{serial_irq}" id="0" />
    </protection_domain>

    <protection_domain name="blk_virt" priority="3" stack_size="0x10_000">
        <program_image path="sddf-blk-virt.elf" />
        <map mr="blk_storage_info" vaddr="0x4_000_000" perms="rw" cached="true" />
        <map mr="blk_driver_req_queue" vaddr="0x4_001_000" perms="rw" cached="true" />
        <map mr="blk_driver_resp_queue" vaddr="0x4_002_000" perms="rw" cached="true" />
        <map mr="blk_client_req_queue" vaddr="0x4_003_000" perms="rw" cached="true" />
        <map mr="blk_client_resp_queue" vaddr="0x4_004_000" perms="rw" cached="true" />
    </protection_domain>

    <protection_domain name="serial_virt_tx" priority="3" stack_size="0x10_000">
        <program_image path="sddf-serial-virt-tx.elf" />
        <map mr="serial_tx_driver_queue" vaddr="0x3_000_000" perms="rw" cached="true" />
        <map mr="serial_tx_driver_data" vaddr="0x3_001_000" perms="rw" cached="true" />
        <map mr="serial_tx_client_queue" vaddr="0x3_004_000" perms="rw" cached="true" />
        <map mr="serial_tx_client_data" vaddr="0x3_005_000" perms="rw" cached="true" />
    </protection_domain>

    <protection_domain name="serial_virt_rx" priority="3" stack_size="0x10_000">
        <program_image path="sddf-serial-virt-rx.elf" />
        <map mr="serial_rx_driver_queue" vaddr="0x3_002_000" perms="rw" cached="true" />
        <map mr="serial_rx_driver_data" vaddr="0x3_003_000" perms="rw" cached="true" />
        <map mr="serial_rx_client_queue" vaddr="0x3_006_000" perms="rw" cached="true" />
        <map mr="serial_rx_client_data" vaddr="0x3_007_000" perms="rw" cached="true" />
    </protection_domain>

    <protection_domain name="fatfs" priority="2" stack_size="0x10_000">
        <program_image path="sddf-fatfs.elf" />
        <map mr="blk_storage_info" vaddr="0x4_000_000" perms="rw" cached="true" />
        <map mr="blk_client_req_queue" vaddr="0x4_003_000" perms="rw" cached="true" />
        <map mr="blk_client_resp_queue" vaddr="0x4_004_000" perms="rw" cached="true" />
        <map mr="blk_data" vaddr="0x4_010_000" perms="rw" cached="true" />
        <map mr="fs_command_queue" vaddr="0x4_020_000" perms="rw" cached="true" />
        <map mr="fs_completion_queue" vaddr="0x4_028_000" perms="rw" cached="true" />
        <map mr="fs_share" vaddr="0x4_030_000" perms="rw" cached="true" />
    </protection_domain>

    <protection_domain name="shell" priority="1" stack_size="0x10_000">
        <program_image path="sddf-shell.elf" />
        <map mr="serial_tx_client_queue" vaddr="0x3_004_000" perms="rw" cached="true" />
        <map mr="serial_tx_client_data" vaddr="0x3_005_000" perms="rw" cached="true" />
        <map mr="serial_rx_client_queue" vaddr="0x3_006_000" perms="rw" cached="true" />
        <map mr="serial_rx_client_data" vaddr="0x3_007_000" perms="rw" cached="true" />
        <map mr="fs_command_queue" vaddr="0x4_020_000" perms="rw" cached="true" />
        <map mr="fs_completion_queue" vaddr="0x4_028_000" perms="rw" cached="true" />
        <map mr="fs_share" vaddr="0x4_030_000" perms="rw" cached="true" />
    </protection_domain>

    <channel>
        <end pd="blk_driver" id="1" />
        <end pd="blk_virt" id="0" />
    </channel>
    <channel>
        <end pd="blk_virt" id="1" />
        <end pd="fatfs" id="0" />
    </channel>
    <channel>
        <end pd="fatfs" id="1" />
        <end pd="shell" id="2" />
    </channel>
    <channel>
        <end pd="serial_driver" id="1" />
        <end pd="serial_virt_tx" id="0" />
    </channel>
    <channel>
        <end pd="serial_driver" id="2" />
        <end pd="serial_virt_rx" id="0" />
    </channel>
    <channel>
        <end pd="serial_virt_tx" id="1" />
        <end pd="shell" id="0" />
    </channel>
    <channel>
        <end pd="serial_virt_rx" id="1" />
        <end pd="shell" id="1" />
    </channel>
</system>
